@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
	font-family: "Outfit", sans-serif;
	--color-background: #ffffff;
	--color-foreground: #1f2125;

	background-color: var(--color-background);
	color: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #1f2125;
		--color-foreground: #ffffff;
	}
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}
