@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
	font-family: "Lato", sans-serif;
	--color-background: #ffffff;
	--color-foreground: #1f2125;

	background-color: var(--color-background);
	color: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #1f2125;
		--color-foreground: #ffffff;
	}
}
